* {
  font-size: 13px;
}

.rotation {
    transform: rotate(270deg);
    text-align: center;
}

.subjects_credits {
  color: red;
}
.name_lastName {
  display: inline-block;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
}
