/* style the contents */
.overall-container {
  background-color: rgba(240, 237, 237);
  margin: 0px auto;;
}
h1, h2, h3, h4,h5 {
  color: black;
  font-size: 3rem;;
  text-shadow: 1px 0.23px; .5px grey;
}
p {
  color: black;
  font-size: 1.8rem;
  line-height: normal;;
  word-spacing: 1px;
}
ul li {
  h1, h2, h3, h4,h5 {
    color: black;
    font-size: 3rem;;
    text-shadow: 1px 0.23px; .5px grey;
  }
.row {
  background-color: red;
}
